.skills-card {
  background-color: var(--color-white);
  padding: 2rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}
.card-title {
  font-size: var(--h3-font);
  text-align: center;
  margin-bottom: 3rem;
}
.skills-box {
  margin: 0 auto;
}
.my-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.skill {
  max-width: 200px;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
.skill svg {
  margin-top: 5px;
  color: var(--title-color);
}
.skill h3 {
  font-size: var(--normal-font);
}
.skill p {
  font-size: var(--small-font);
  margin: 8px 0 0;
}

@media (max-width: 551px) {
  .skills-card {
    width: auto;
  }
  .card-title {
    font-size: var(--normal-font);
  }
}
@media (max-width: 376px) {
  .my-skills {
    row-gap: 1rem;
    column-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
  .skills-box {
    column-gap: 1.25rem;
  }

  .skill {
    gap: 3px;
  }
  .skill h3 {
    font-size: var(--small-font);
  }
  .skill svg {
    transform: translateY(-5px);
  }
}
