.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
}
.about-img {
  width: 350px;
  object-fit: cover;
  border-radius: 1rem;
}
.about-cards {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 140px);
  gap: 0.5rem;
}
.about-card {
  background-color: var(--color-white);
  padding: 1rem;
  line-height: 1.8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.about-card svg {
  font-size: 1.5rem;
  color: var(--title-color-dark);
}
.about-card h3 {
  font-size: var(--small-font);
}
.about-card p {
  font-size: var(--smaller-font);
}
.about-describtion {
  max-width: 400px;
  margin: 2rem 0;
}
.about .about-btn {
  font-size: var(--small-font);
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

/* responsive */
@media (max-width: 992px) {
  .about-container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }
  .about-img {
    width: 220px;
    margin: 0 auto;
  }
  .about-cards {
    justify-content: center;
  }
  .about-describtion {
    max-width: 600px;
    text-align: center;
    margin: 15px auto;
  }
  .about-btn {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .about-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .about-card {
    padding: 1rem 5px;
  }
  .about-describtion {
    max-width: initial;
  }
}
@media (max-width: 350px) {
  .about-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
